.news-list {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-item {
  flex: 1 0 25%;
  max-width: 400px;
}

/* @media (max-width: 400px) {
  .news-list {
    padding: 30px 5px;
  }
} */
