<div class="search-form">
  <mat-form-field class="search-input">
    <input 
      type="search" 
      matInput 
      placeholder="Поиск" 
      [(ngModel)]="searchString" 
      (keypress)="searchNews($event)"
    >
  </mat-form-field>
  <button 
    class="search-btn" 
    (click)="searchNews()"
  >
    Искать
  </button>
  <mat-form-field class="search-select">
    <select matNativeControl [(ngModel)]="searchFilter">
      <option value="all">Везде</option>
      <option value="tags">По тегам</option>
      <option value="user">По автору</option>
    </select>
  </mat-form-field>
</div>
