<div class="search-form">
  <mat-form-field class="search-input">
    <input type="search" matInput placeholder="Поиск" [(ngModel)]="searchString">
  </mat-form-field>
  <button class="search-btn" (click)="searchNews()">Искать</button>
  <mat-form-field class="search-select">
    <select matNativeControl [(ngModel)]="searchFilter">
      <option value="all">Везде</option>
      <option value="title">По названию</option>
      <option value="user">По автору</option>
      <option value="content">По тексту</option>
    </select>
  </mat-form-field>
</div>
