<mat-toolbar class="top-panel" color="primary">
  <div class="icons">
    <button routerLink="/" mat-mini-fab color="accent" class="home-icon">
      <mat-icon>home</mat-icon>
    </button>
    <button 
      *ngIf="this.authService.currentUserValue" 
      [routerLink]="['user', this.authService.currentUserValue.user.id]" 
      mat-mini-fab 
      color="accent" 
      class="profile-icon"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
  <p 
    *ngIf="this.authService.currentUserValue"
    class="greeting"
  >
    Привет, {{this.authService.currentUserValue.user.login}}!
  </p>
  <button 
    routerLink="/login" 
    mat-raised-button 
    color="accent" 
    *ngIf="!this.authService.currentUserValue"
  >
    Войти
  </button>
  <button 
  mat-raised-button 
  color="accent" 
  *ngIf="this.authService.currentUserValue"
  (click)="this.authService.logout()"
>
  Выйти
</button>
</mat-toolbar>
<router-outlet></router-outlet>


