.news-card {
  border-radius: 15px;
  border: 2px solid #673ab7;
  margin-bottom: 20px;
  background: #fffdf5;
}

.news-image {
  max-width: 500px;
  border-radius: 20px;
}

.like-icon {
  cursor: pointer;
  margin-right: 10px;
}

.like {
  color: red;
}

.news-image img {
  width: 100%;
}