<div class="user-page-container">
    <div class="user-info">
        <img *ngIf="this.user.avatar"
            src="{{ this.authService.isGoogleUser ? this.user.avatar : url + '/' + this.user.avatar }}"
            class="user-avatar">
        <img *ngIf="!this.user.avatar" src="../../assets/no-avatar.png" class="user-avatar">
        <div class="user-info-body">
            <h1>Логин: {{this.user.login}}</h1>
            <h1>Емейл: {{this.user.email}}</h1>
        </div>
        <div *ngIf="isCurrentUser" class="user-control-buttons">
            <button class="change-info-btn" (click)="openEditDialog()" mat-raised-button color="primary">Изменить
                данные</button>
            <button class="add-post-btn" (click)="openNewsDialog()" mat-raised-button color="accent">Добавить новый
                пост</button>
        </div>
        <!-- <div *ngIf="!isCurrentUser" class="user-control-buttons">
            <button (click)="openEditDialog()" mat-raised-button color="primary"></button>
        </div> -->
    </div>
    <mat-divider></mat-divider>
    <mat-button-toggle-group *ngIf="isCurrentUser" class="tabs">
        <mat-button-toggle [class.mat-button-toggle-checked]="activeTab === 'my-news'" (click)="getUser()" #myNews
            value="my-news">Мои записи</mat-button-toggle>
        <mat-button-toggle (click)="showLikedNews()" value="liked">Понравилось</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="news-list">
        <app-news *ngFor="let newsItem of this.news | paginate: { itemsPerPage: 2, currentPage: page }"
            [item]="newsItem">
        </app-news>
    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>