.user-page-container {
  padding: 80px 30px;
}

.user-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 0 100px;
}

.user-avatar {
  width: 150px;
  height: 150px;
  border: 2px solid rgb(196, 196, 196);
  border-radius: 50%;
}

.user-info-body,
.user-control-buttons {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 50px;
}

.change-info-btn {
  margin-bottom: 10px;
}

.news-list {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-item {
  flex: 1 0 25%;
  max-width: 400px;
}

.tabs {
  margin: 0 auto;
}

.active {
  border-bottom: 3px solid #673ab7;
}

@media (max-width: 1040px) {
  .news-list {
    padding: 30px 5px;
  }

  .user-info {
    padding: 0 50px;
  }

  .user-info-body, .user-control-buttons {
    margin-top: 30px;
    margin-left: 0;
  }
}

@media (max-width: 1040px) {
}

@media (max-width: 400px) {
  .news-list {
    padding: 30px 5px;
  }

  .user-info {
    padding: 0 20px;
  }
}
